.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1{
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input{
    font-size: 24px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.unit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

label{
    font-size: 18px;
    margin-bottom: 5 px;
    color: #333;
}

select{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    color: #333;
}

hr{
    border: none;
    border-top: 1px solid #ccc;
}

h2{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.result-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.calculate-button{
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(102, 201, 150);
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 10px;
}

.calculate-button:hover{
    background-color: rgb(68, 153, 109);
}