<div class="l-container">
  <div class="l-question">
    <div class="l-text-title">
      <h2> <b>(1/10) | Categoría</b> ¿Soy una pregunta?</h2>
    </div> <!-- l-text-title-->
    <div class="l-answers">
      <div class="l-answers-option">Opción 1</div>
      <div class="l-answers-option l-error">Opción 2</div>
      <div class="l-answers-option l-correct">Opción 3</div>
    </div>
    <button class="l-button">Iniciar</button>
  </div>
</div>

<!--
<button class="l-button" (click)="this.import()">Cargar Datos</button>
-->
